<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.nanfneg.redislock.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="cn.com.nanfneg.redislock.model.po.Book">
    <id column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
    <result column="b_content" jdbcType="VARCHAR" property="bContent" />
    <result column="b_image" jdbcType="VARCHAR" property="bImage" />
    <result column="b_price" jdbcType="INTEGER" property="bPrice" />
    <result column="b_number" jdbcType="INTEGER" property="bNumber" />
    <result column="b_date" jdbcType="DATE" property="bDate" />
  </resultMap>
  <sql id="Base_Column_List">
    b_id, b_name, b_content, b_image, b_price, b_number, b_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.nanfneg.redislock.model.po.Book">
    insert into book (b_id, b_name, b_content, 
      b_image, b_price, b_number, 
      b_date)
    values (#{bId,jdbcType=INTEGER}, #{bName,jdbcType=VARCHAR}, #{bContent,jdbcType=VARCHAR}, 
      #{bImage,jdbcType=VARCHAR}, #{bPrice,jdbcType=INTEGER}, #{bNumber,jdbcType=INTEGER}, 
      #{bDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nanfneg.redislock.model.po.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bId != null">
        b_id,
      </if>
      <if test="bName != null">
        b_name,
      </if>
      <if test="bContent != null">
        b_content,
      </if>
      <if test="bImage != null">
        b_image,
      </if>
      <if test="bPrice != null">
        b_price,
      </if>
      <if test="bNumber != null">
        b_number,
      </if>
      <if test="bDate != null">
        b_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bContent != null">
        #{bContent,jdbcType=VARCHAR},
      </if>
      <if test="bImage != null">
        #{bImage,jdbcType=VARCHAR},
      </if>
      <if test="bPrice != null">
        #{bPrice,jdbcType=INTEGER},
      </if>
      <if test="bNumber != null">
        #{bNumber,jdbcType=INTEGER},
      </if>
      <if test="bDate != null">
        #{bDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.nanfneg.redislock.model.po.Book">
    update book
    <set>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bContent != null">
        b_content = #{bContent,jdbcType=VARCHAR},
      </if>
      <if test="bImage != null">
        b_image = #{bImage,jdbcType=VARCHAR},
      </if>
      <if test="bPrice != null">
        b_price = #{bPrice,jdbcType=INTEGER},
      </if>
      <if test="bNumber != null">
        b_number = #{bNumber,jdbcType=INTEGER},
      </if>
      <if test="bDate != null">
        b_date = #{bDate,jdbcType=DATE},
      </if>
    </set>
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.nanfneg.redislock.model.po.Book">
    update book
    set b_name = #{bName,jdbcType=VARCHAR},
      b_content = #{bContent,jdbcType=VARCHAR},
      b_image = #{bImage,jdbcType=VARCHAR},
      b_price = #{bPrice,jdbcType=INTEGER},
      b_number = #{bNumber,jdbcType=INTEGER},
      b_date = #{bDate,jdbcType=DATE}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>

  <select id="selectBookName" resultType="java.lang.String">
    SELECT b_name FROM book
  </select>

  <select id="selectBookByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM book WHERE b_name = #{bookName,jdbcType=VARCHAR}
  </select>
</mapper>